<h1>Editando dentista</h1>

<%= render "form", dentistum: @dentistum %>

<br>

<div>
  <%= link_to "Ver este dentista", "/admin/1/dentista/#{@dentistum.id}" %> |
  <%= link_to "Voltar para dentistas", admin_dentista_path %>
</div>
