<p style="color: green"><%= notice %></p>

<h1>Dentista</h1>

<div id="dentista">
  <% @dentista.each do |dentistum| %>
    <%= render dentistum %>
    <p>
      <%= link_to "Show this dentistum", dentistum %>
    </p>
  <% end %>
</div>

<%= link_to "New dentistum", new_dentistum_path %>
