<p style="color: green"><%= notice %></p>


<h1>Dentistas</h1><br>


<div id="dentista">
  <% @dentista.each do |dentistum| %>
    <%= render dentistum %>

    <p>
      <%= link_to "Ver este dentista",  "/admin/#{dentistum.admin_id}/dentista/#{dentistum.id}" %><br><hr>

    </p>
  <% end %>
</div>


<%= link_to "voltar pra o Menu Principal", root_path  %>

