<p style="color: green"><%= notice %></p>

<%= render @dentistum %>

<div>
  <%= link_to "Voltar para dentistas", admin_dentista_path %>

  <%= button_to "Destruir este dentista", "/admin/1/dentista/#{@dentistum.id}", method: :delete %>
</div>
