<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <%= link_to "Ver paciente", paciente %>
    </p>
  <% end %>
</div>

<%= link_to "voltar pra o Menu Principal", root_path  %>
