<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div>
  <%= link_to "Edit this paciente", edit_paciente_path(@paciente) %><br><br>

  <%= button_to "Destroy this paciente", @paciente, method: :delete %>
</div>
