<h1>Clinica Odontológica</h1>
<h1>SorriDente</h1><br>

<h2>Entrar como</h2>

<ul>
  <li>
    <%= button_to "Paciente", "/acesso_paciente", method: :get%>
  </li>
  <li>
    <%= link_to "Admin",login_url %>
  </li>
  <li>
    <%= link_to "Recepcionista","/acesso_recepcionista", method: :get %>
  </li>
</ul>