<div id="<%= dom_id relatorio_consultum %>">

    <strong>Presente:</strong>
    <%= relatorio_consultum.presente %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= relatorio_consultum.comentario %>
  </p>

</div>
