<h1>Editando relatorio de consultum</h1>

<%= render "form_edit", relatorio_consultum: @relatorio_consultum %>

<br>

<div>
  <%= link_to "mostrar este relatorio de consulta", "/consulta/#{@relatorio_consultum.consultum_id}/relatorio_consulta/#{@relatorio_consultum.id}" %>

</div>
