<h1>Editando relatorio de consulta</h1>

<%= render "form", relatorio_consultum: @relatorio_consultum %>

<br>

<div>
  <%= link_to "Show this relatorio consultum", @relatorio_consultum %> |
  <%= link_to "Back to relatorio consulta", relatorio_consulta_path %>
</div>
