<p style="color: green"><%= notice %></p>

<h1>Relatorio de consulta</h1>

<div id="relatorio_consulta">
  <% @relatorio_consulta.each do |relatorio_consultum| %>
    <%= render relatorio_consultum %>
    <p>
      <%= link_to "Show this relatorio consultum", relatorio_consultum %>
    </p>
  <% end %>
</div>

<%= link_to "New relatorio consultum", new_relatorio_consultum_path %>
