body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container_categoria {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
    border-style: solid;
    border-radius: initial;

}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ce040f;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #013d7e;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

/* style Botões */

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0062cc;
}

p {
    color: green;
    margin: 0;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/* style Link */

a {
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #005F6B;
}

/* style Formulario */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.1rem;
    color: #333;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}