<h1>Editing recepcionistum</h1>

<%= render "form", recepcionistum: @recepcionistum %>

<br>

<div>
  <%= link_to "Show this recepcionista", @recepcionistum %> |
  <%= link_to "Back to recepcionista", recepcionista_path %>
</div>
