<p style="color: green"><%= notice %></p>

<h1>Recepcionista</h1>

<div id="recepcionista">
  <% @recepcionista.each do |recepcionistum| %>
    <%= render recepcionistum %>
    <p>
      <%= link_to "Ver recepcionista", recepcionistum %>
    </p>
    <br><hr>
  <% end %>
</div>

<%= link_to "voltar pra o Menu Principal", root_path  %><br><br>
